@model UserAPI.Models.UNGDUNG
@{
    ViewBag.Title = "ApplicationDetail";
}

<h2>Application Detail</h2><br />
Client Id: @Model.MA <br />
Client Name: @Model.TEN <br />
Client Domain Url: @Model.DOMAINURL <br />

