
@{
    ViewBag.Title = "ErrorPermission";
}

<h2>You must register your application in our system ! Please register it before using our API</h2>
<br />
<h2>Error in client id: @ViewBag.clientId</h2>

